:root {
  --bg-color: black;
  --typewriter-speed: 6s;
  --text-color:green;
  --typewriter-steps1: 13;
  --typewriter-steps2: 23;
  --typewriter-steps3: 25;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background: var(--bg-color);
}

h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
  color: var(--text-color);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
h1::before, h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
h1:nth-of-type(1)::before {
  background: var(--bg-color);
  -webkit-animation: typewriter 4s steps(var(--typewriter-steps1)) forwards;
          animation: typewriter 4s steps(var(--typewriter-steps1)) forwards;
}
h1:nth-of-type(1)::after {
  -webkit-animation: typewriter 4s steps(var(--typewriter-steps1)) forwards, blink 750ms steps(var(--typewriter-steps1)) 7;
          animation: typewriter 4s steps(var(--typewriter-steps1)) forwards, blink 750ms steps(var(--typewriter-steps1)) 7;
}
h1:nth-of-type(2):before {
  background: var(--bg-color);
  -webkit-animation: typewriter var(--typewriter-speed) steps(var(--typewriter-steps2)) calc(var(--typewriter-speed) - 1s) forwards;
          animation: typewriter var(--typewriter-speed) steps(var(--typewriter-steps2)) calc(var(--typewriter-speed) - 1s) forwards;
}
h1:nth-of-type(2)::after {
  -webkit-animation: typewriter var(--typewriter-speed) steps(var(--typewriter-steps2)) calc(var(--typewriter-speed) - 1s) forwards, blink 750ms steps(var(--typewriter-steps2)) calc(var(--typewriter-speed) + 1s) 8;
          animation: typewriter var(--typewriter-speed) steps(var(--typewriter-steps2)) calc(var(--typewriter-speed) - 1s) forwards, blink 750ms steps(var(--typewriter-steps2)) calc(var(--typewriter-speed) + 1s) 8;
}
h1:nth-of-type(3)::before {
  background: var(--bg-color);
  -webkit-animation: typewriter var(--typewriter-speed) steps(var(--typewriter-steps3)) calc(var(--typewriter-speed)*2 + 1s) forwards;
          animation: typewriter var(--typewriter-speed) steps(var(--typewriter-steps3)) calc(var(--typewriter-speed)*2 + 1s) forwards;
}
h1:nth-of-type(3)::after {
  -webkit-animation: typewriter var(--typewriter-speed) steps(var(--typewriter-steps3)) calc(var(--typewriter-speed)*2 + 1s) forwards, blink 750ms steps(var(--typewriter-steps3)) calc(var(--typewriter-speed)*2 + 1s) infinite;
          animation: typewriter var(--typewriter-speed) steps(var(--typewriter-steps3)) calc(var(--typewriter-speed)*2 + 1s) forwards, blink 750ms steps(var(--typewriter-steps3)) calc(var(--typewriter-speed)*2 + 1s) infinite;
}
h1::after {
  width: 0.125em;
  background: transparent;
  /*  animation: 
       typewriter var(--typewriter-speed) steps(var(--typewriter-steps2)) 1s forwards,
       blink 750ms steps(40) infinite; */
}

.subtitle {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 400;
  /* opacity: 0;
     transform: translateY(3rem);
     animation: fadeInUp 2s ease calc(var(--typewriter-speed) + 2s) forwards;
  */
}

@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@-webkit-keyframes blink {
  to {
    background: var(--text-color);
  }
}
@keyframes blink {
  to {
    background: var(--text-color);
  }
}
@-webkit-keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */